@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="loading" class="ui segment">
    @*<div class="ui active inverted dimmer">
            <div id="loader" class="ui text big loader">Loading</div>
        </div>*@
    <div id="loader" class="ui text big active loader">Loading</div>
    <p></p>
</div>