bin/*
obj/*
.vs/*
.vs/FPL/v16/.suo
.vs/FPL/v16/Server/sqlite3/storage.ide-wal
bin/Debug/netcoreapp3.1/FPL.dll
bin/Debug/netcoreapp3.1/FPL.pdb
bin/Debug/netcoreapp3.1/FPL.Views.dll
bin/Debug/netcoreapp3.1/FPL.Views.pdb
obj/Debug/netcoreapp3.1/FPL.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/FPL.dll
obj/Debug/netcoreapp3.1/FPL.pdb
obj/Debug/netcoreapp3.1/FPL.Views.dll
obj/Debug/netcoreapp3.1/FPL.Views.pdb
obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
*.cache
*.cache
*.cache
obj/Debug/netcoreapp3.1/FPL.csprojAssemblyReference.cache
.vs/FPL/v16/.suo
.vs/FPL/v16/.suo
.vs/FPL/v16/Server/sqlite3/storage.ide-wal
*.dll
*.pdb
obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
*.ide-shm
