@using Newtonsoft.Json;

@model FPL.ViewModels.FPL.GameweekPointsViewModel

@{ var data = JsonConvert.SerializeObject(Model); }

@section PageScripts {
    <script src="~/js/points/index.js"></script>
    <script type="text/javascript">
    const viewModel = new GameweekPointsViewModel(@Html.Raw(data));
    ko.applyBindings(viewModel, document.getElementById("app"));
    </script>
}

<div id="app">
    <div class="ui container">
        <h3 class="ui header" data-bind="with: $root.Team()">
            <span data-bind="text: name"></span>
        </h3>
        <h4 class="ui header">
            Total Points: <span data-bind="text: $root.TotalPoints()"></span>
        </h4>
        <h4 class="ui header">
            GW<span data-bind="text: $root.GameweekId()"></span> Points: <span data-bind="text: $root.GWPoints()"></span>
        </h4>
        <table class="ui table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th data-bind="visible: $root.GWTeam().automatic_subs.length > 0"></th>
                    <th>Position</th>
                    <th>Opp</th>
                    <th>Mins</th>
                    <th>GF</th>
                    <th>CS</th>
                    <th>GA</th>
                    <th>Assists</th>
                    <th>Yellow C</th>
                    <th>Red C</th>
                    <th>Saves</th>
                    <th>Bonus</th>
                    <th>GW Points</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: $root.GWTeam().picks">
                <tr data-bind="style: { 'background-color': $root.getColor($data.multiplier) }">
                    <td>
                        <span data-bind="text: player.web_name"></span>
                        <span data-bind="visible: is_captain"><i class="copyright icon"></i></span>
                        <span data-bind="visible: GWPlayer.stats.in_dreamteam"><i class="star icon"></i></span>
                    </td>
                    <td data-bind="visible: $root.GWTeam().automatic_subs.length > 0">
                        <span data-bind="visible: $root.SubOn($data)">On</span>
                        <span data-bind="visible: $root.SubOff($data)">Off</span>
                    </td>
                    <td>
                        <span data-bind="text: $root.GetPosition(player.element_type)"></span>
                    </td>
                    <td>
                        <span data-bind="text: GWOppositionName"></span>
                    </td>
                    <td>
                        <span data-bind="text: GWPlayer.stats.minutes"></span>
                    </td>
                    <td>
                        <span data-bind="text: GWPlayer.stats.goals_scored"></span>
                    </td>
                    <td>
                        <span data-bind="text: GWPlayer.stats.clean_sheets"></span>
                    </td>
                    <td>
                        <span data-bind="text: GWPlayer.stats.goals_conceded"></span>
                    </td>
                    <td>
                        <span data-bind="text: GWPlayer.stats.assists"></span>
                    </td>
                    <td>
                        <span data-bind="text: GWPlayer.stats.yellow_cards"></span>
                    </td>
                    <td>
                        <span data-bind="text: GWPlayer.stats.red_cards"></span>
                    </td>
                    <td>
                        <span data-bind="text: GWPlayer.stats.saves"></span>
                    </td>
                    <td>
                        <span data-bind="text: GWPlayer.stats.bonus"></span>
                    </td>
                    <td>
                        <span data-bind="text: GWPlayer.stats.gw_points"></span>
                    </td>
                    <td>
                        <span data-bind="visible: GWGame.finished_provisional"><i class="check icon"></i></span>
                        <span class="ui green label" data-bind="visible: !GWGame.finished_provisional && GWGame.started">Live</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>