@using Newtonsoft.Json;

@model FPL.ViewModels.FPL.GameweekPointsViewModel

@{ var data = JsonConvert.SerializeObject(Model); }

@section PageScripts {
    <script src="~/js/points/index.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.23/fh-3.1.7/datatables.min.css" />
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.23/fh-3.1.7/datatables.min.js"></script>
    <script type="text/javascript">
        const viewModel = new GameweekPointsViewModel(@Html.Raw(data));
        ko.applyBindings(viewModel, document.getElementById("app"));
    </script>
}

<div id="app">
    <div class="ui container">
        @*<h3 class="ui header" data-bind="with: $root.Team()">
            <span data-bind="text: name"></span>
        </h3>*@
        <div id="desktop-points-header-grid" class="ui grid">
            <div class="row">
                <div class="column" style="padding-top: 0.5rem; width: fit-content; margin-right: 1rem;">
                    <h4 class="ui header">
                        <span data-bind="text: $root.Team().name"></span>
                        <div class="sub header" data-bind="text: $root.Team().player_first_name + ' ' + $root.Team().player_last_name"></div>
                        <i id="flag-icon" data-bind="class: $root.GetFlagClass($root.Team().player_region_name)"></i>
                    </h4>
                </div>
                <div class="twelve wide column">
                    <div id="points-statistics-row" class="ui small statistics">
                        <div class="statistic">
                            <div data-bind="text: $root.GetGWPoints($root.GWPoints())" class="value"></div>
                            <div class="label" data-bind="text: 'GW' + $root.GameweekId() + ' Pnts'"></div>
                        </div>
                        <div class="statistic gw-percentile-statistic" style="margin-top: 1em" data-bind="visible: $root.EntryHistory().rank != null">
                            <div class="text value">
                                <span>Top</span>
                                <span style="font-size: 2.5rem !important;" data-bind="text: $root.EntryHistory().GwRankPercentile + '%'"></span>
                            </div>
                            <div class="label" data-bind="text: 'GW' + $root.GameweekId() + ' Percentile'"></div>
                        </div>
                        <div class="statistic gw-average-statistic" data-bind="visible: $root.GameWeek().average_entry_score != 0">
                            <div data-bind="text: $root.GameWeek().average_entry_score" class="value"></div>
                            <div class="label" data-bind="text: 'GW' + $root.GameweekId() + ' Avg Score'"></div>
                        </div>
                        <div id="captain-points-statistic" class="statistic">
                            <div data-bind="text: $root.GetCaptainPointsTotal($root.GWTeam())" class="value"></div>
                            <div class="label">Captain Pnts</div>
                        </div>
                        <div class="statistic">
                            <div data-bind="text: $root.GetBenchPointsTotal($root.GWTeam())" class="value"></div>
                            <div class="label">Bench Pnts</div>
                        </div>
                        <div class="statistic" data-bind="visible: $root.GameweekId() == $root.CurrentGameweekId()">
                            <div data-bind="text: $root.GWTeam().PlayersYetToPlay" class="value"></div>
                            <div class="label">Picks YTP</div>
                        </div>
                        <div class="statistic" data-bind="visible: $root.GWTeam().ActiveChips.length > 0">
                            <div class="value">
                                <i class="gem outline icon"></i>
                            </div>
                            <div class="label" data-bind="text: $root.GWTeam().ActiveChips"></div>
                        </div>
                        @*<div class="statistic" data-bind="with: $root.GameWeek()">
                            <div data-bind="text: highest_score" class="value"></div>
                            <div class="label" data-bind="text: 'GW' + $root.GameweekId() + ' Top Score'"></div>
                        </div>*@
                    </div>
                </div>
                <div class="right floated column" style="width: 8.5% !important;">
                    <select class="ui dropdown" style="padding: 0 !important; height: 30px !important;"
                            data-bind="options: AllStartedGameWeeks,
                                       optionsText: function(gw) {
                                            return 'GW ' + gw.id
                                       },
                                       value: $root.SelectedGameweek">
                    </select>
                </div>
            </div>
        </div>
        <div id="mobile-points-header-grid" class="ui grid" style="margin-top: -1rem;">
            <div class="two column row">
                <div class="ten wide column">
                    <h4 class="ui header" style="margin-left: 0.5rem;">
                        <span data-bind="text: $root.Team().name"></span>
                        <div class="sub header" data-bind="text: $root.Team().player_first_name + ' ' + $root.Team().player_last_name"></div>
                        <i id="flag-icon" data-bind="class: $root.GetFlagClass($root.Team().player_region_name)"></i>
                    </h4>
                </div>
                <div class="six wide right aligned column">
                    <select class="ui dropdown" style="padding: 0 !important; height: 30px !important;"
                            data-bind="options: AllStartedGameWeeks,
                                       optionsText: function(gw) {
                                            return 'GW ' + gw.id
                                       },
                                       value: $root.SelectedGameweek">
                    </select>
                </div>
            </div>
            <div class="row" style="padding-top: 0;">
                <div class="sixteen wide column">
                    <div class="ui tiny statistics">
                        <div class="statistic" style="margin-right: 0.8rem;">
                            <div data-bind="text: $root.GetGWPoints($root.GWPoints())" class="value"></div>
                            <div class="label">POINTS</div>
                        </div>
                        <div class="statistic gw-percentile-statistic" data-bind="visible: $root.EntryHistory().rank != null">
                            <div class="text value" style="padding-top: 0.5rem;">
                                <span>Top</span>
                                <span style="font-size: 1.5rem !important;" data-bind="text: $root.EntryHistory().GwRankPercentile + '%'"></span>
                            </div>
                            <div class="label">RANK</div>
                        </div>
                        <div class="statistic gw-average-statistic" data-bind="visible: $root.GameWeek().average_entry_score != 0">
                            <div data-bind="text: $root.GameWeek().average_entry_score" class="value"></div>
                            <div class="label">AVG</div>
                        </div>
                        <div class="statistic pytp-statistic" data-bind="visible: $root.GameweekId() == $root.CurrentGameweekId()">
                            <div data-bind="text: $root.GWTeam().PlayersYetToPlay" class="value"></div>
                            <div class="label">PYTP</div>
                        </div>
                        <div class="statistic" data-bind="visible: $root.GWTeam().ActiveChips.length > 0">
                            <div class="value">
                                <i class="gem outline icon"></i>
                            </div>
                            <div class="label" data-bind="text: $root.GWTeam().ActiveChips"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui segment">
            <div id="desktop-points-last-updated" class="ui top right attached label" style="font-size: 0.9rem !important" data-bind="visible: IsLive">
                <i class="sync link icon" data-bind="click: $root.reload"></i>
                <span data-bind="text: $root.LastUpdated()"></span>
            </div>
            <div id="mobile-points-last-updated" class="ui top right attached label"  data-bind="visible: IsLive">
                <i class="sync link icon" data-bind="click: $root.reload"></i>
                @*<i class="large clock outline icon"></i>*@
            </div>
            <div class="ui attached tabular menu">
                <a class="item active" data-tab="first">
                    Points
                    <span class="ui green left pointing label" data-bind="visible: IsLive">Live</span>
                </a>
                <a class="item" data-tab="second">Standings</a>
                <a class="item" data-tab="third">Third</a>
            </div>
            <div class="ui bottom attached tab segment active" data-tab="first">
                <div style="width: 100%; overflow-x: auto;">
                    <table id="desktop-points-table" class="ui unstackable table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th data-bind="visible: $root.GWTeam().automatic_subs.length > 0"></th>
                                <th>Position</th>
                                <th>Opposition</th>
                                @*<th>Time</th>*@
                                <th class="center aligned">Mins</th>
                                <th class="center aligned">GF</th>
                                <th class="center aligned">CS</th>
                                <th class="center aligned">GA</th>
                                <th class="center aligned">Assists</th>
                                <th class="center aligned">Saves</th>
                                <th class="center aligned">Bonus</th>
                                <th class="center aligned">Bps (Rank)</th>
                                @*<th>Bps Rank</th>*@
                                <th class="center aligned">GW <span data-bind="text: $root.GameweekId()"></span></th>
                                <th colspan="2"></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $root.GWTeam().picks">
                            <tr data-bind="style: { 'background-color': $root.getColor($data.position) }">
                                <td>
                                    <a data-bind="click: $root.viewPlayer"><span data-bind="text: player.web_name"></span></a>
                                    <span data-bind="visible: is_captain"><i class="copyright icon"></i></span>
                                    <span data-bind="visible: GWPlayer.stats.in_dreamteam"><i class="star icon"></i></span>
                                    <i class="ui icon" data-bind="visible: $root.DoesPlayerHaveStatus(player.status), class: $root.GetPlayerStatusIcon(player.status), click: $root.ShowStatusPopup(player.status)"></i>
                                    <i class="yellow square icon" data-bind="visible: GWPlayer.stats.yellow_cards > 0"></i>
                                    <i class="red square icon" data-bind="visible: GWPlayer.stats.red_cards > 0"></i>
                                </td>
                                <td data-bind="visible: $root.GWTeam().automatic_subs.length > 0">
                                    <span data-bind="visible: $root.SubOn($data)">On</span>
                                    <span data-bind="visible: $root.SubOff($data)">Off</span>
                                </td>
                                <td>
                                    <span data-bind="text: $root.GetPosition(player.element_type)"></span>
                                </td>
                                <td>
                                    <span data-bind="html: $root.GetOpposition($data)"></span>
                                </td>
                                <!--<td data-bind="class: GWGame.finished_provisional || !GWGame.started ? '' : 'center aligned'">-->
                                @*<span data-bind="text: $root.GetTime($data), visible: GWGame.finished_provisional || !GWGame.started"></span>*@
                                <!--<span class="ui green label" data-bind="visible: !GWGame.finished_provisional && GWGame.started">Live</span>
                </td>-->
                                <td class="center aligned">
                                    <span data-bind="text: GWPlayer.stats.minutes"></span>
                                </td>
                                <td class="center aligned">
                                    <span data-bind="text: GWPlayer.stats.goals_scored"></span>
                                </td>
                                <td class="center aligned">
                                    <span data-bind="text: GWPlayer.stats.clean_sheets"></span>
                                </td>
                                <td class="center aligned">
                                    <span data-bind="text: GWPlayer.stats.goals_conceded"></span>
                                </td>
                                <td class="center aligned">
                                    <span data-bind="text: GWPlayer.stats.assists"></span>
                                </td>
                                <td class="center aligned">
                                    <span data-bind="text: GWPlayer.stats.saves"></span>
                                </td>
                                <td class="center aligned">
                                    <span data-bind="text: $root.GetBonus($data)"></span>
                                </td>
                                <td class="center aligned">
                                    <span data-bind="text: GWPlayer.stats.bps + ' (' + $root.GetBonusRank($data) + ')'"></span>
                                </td>
                                @*<td>
                        <span data-bind="text: $root.GetBonusRank($data)"></span>
                    </td>*@
                                <td class="center aligned">
                                    <span data-bind="text: $root.GetPoints($data)"></span>
                                </td>
                                <td @*data-bind="class: $root.GetResult($data, $data.GWGame)"*@ class="center aligned collapsing">
                                    @*<span class="ui green label" data-bind="visible: !GWGame.finished_provisional && GWGame.started">Live</span>*@
                                    @*<span data-bind="visible: GWGame.started, text: GWGame.team_h_score + ' - ' + GWGame.team_a_score"></span>*@
                                    <span data-bind="html: $root.GetTimeOrResult($data) @*visible: !GWGame.started*@"></span>
                                    @*<span data-bind="visible: GWGame.finished_provisional"><i class="check icon"></i></span>*@
                                </td>
                                @*<td data-bind="class: $root.GetResult($data, $data.GWGame)" class="center aligned collapsing">
                        <span class="ui mini green label" data-bind="visible: !GWGame.finished_provisional && GWGame.started">Live</span>
                        <span data-bind="visible: GWGame.finished_provisional">
                            <i class="small check icon"></i>
                        </span>
                    </td>*@
                            </tr>
                        </tbody>
                    </table>
                    <table id="mobile-points-table" class="ui unstackable table">
                        <thead>
                            <tr class="single line">
                                <th>Name</th>
                                <th data-bind="visible: $root.GWTeam().automatic_subs.length > 0"></th>
                                @*<th>Opp</th>*@
                                <th class="center aligned">GW <span data-bind="text: $root.GameweekId()"></span></th>
                                <th></th>
                                @*<th></th>*@
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $root.GWTeam().picks">
                            <tr class="single line" data-bind="style: { 'background-color': $root.getColor($data.position) }">
                                <td>
                                    <a data-bind="click: $root.viewPlayer"><span data-bind="text: player.web_name"></span></a>
                                    <span data-bind="visible: is_captain"><i class="copyright icon"></i></span>
                                    <span data-bind="visible: GWPlayer.stats.in_dreamteam"><i class="star icon"></i></span>
                                    <i class="ui icon" data-bind="visible: $root.DoesPlayerHaveStatus(player.status), class: $root.GetPlayerStatusIcon(player.status), click: $root.ShowStatusPopup(player.status)"></i>
                                    <i class="yellow square icon" data-bind="visible: GWPlayer.stats.yellow_cards > 0"></i>
                                    <i class="red square icon" data-bind="visible: GWPlayer.stats.red_cards > 0"></i>
                                </td>
                                <td data-bind="visible: $root.GWTeam().automatic_subs.length > 0">
                                    <span data-bind="visible: $root.SubOn($data)">On</span>
                                    <span data-bind="visible: $root.SubOff($data)">Off</span>
                                </td>
                                @*<td>
                        <span data-bind="html: $root.GetOppositionShortName($data)"></span>
                    </td>*@
                                <td class="center aligned">
                                    <span data-bind="text: $root.GetPoints($data), click: $root.viewPlayerGwBreakdown"></span>
                                </td>
                                <td class="center aligned">
                                    <i class="green check circle icon" data-bind="visible: $root.IsPicksGwFinished($data)"></i>
                                </td>
                                <!--<td class="center aligned collapsing">
                <span data-bind="html: $root.GetTimeOrResult($data)-->
                                @*visible: !GWGame.started*@
                                <!--"></span>
                </td>-->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ui bottom attached tab segment" data-tab="second">
                <div class="ui grid">
                </div>
            </div>
            <div class="ui bottom attached tab segment" data-tab="third">
                Third
            </div>
        </div>
        <div id="gw-percentile-popup" class="ui hidden stat popup" data-bind="style: {'height': $root.GetGwPercentilePopupHeight($root.GameweekId())}">
            <p style="text-align: center;" data-bind="text: 'Ranked ' + $root.FormatLargeNumber(CompleteEntryHistory().rank) + ' out of ' + $root.FormatLargeNumber($root.EntryHistory().TotalPlayers)"></p>
            <p data-bind="visible: $root.EventStatus().status[0].event == $root.GameweekId(), text: $root.GetLastTimeGwAvgWasUpdated($root.EventStatus())"></p>
        </div>
        <div id="total-percentile-popup" class="ui hidden stat popup">
            <p data-bind="text: $root.FormatLargeNumber($root.Team().summary_overall_rank) + ' / ' + $root.FormatLargeNumber($root.EntryHistory().TotalPlayers)"></p>
        </div>
        <div id="captain-points-popup" class="ui hidden stat popup">
            <p data-bind="text: $root.GetCaptain($root.GWTeam())"></p>
        </div>
        <div id="gw-average-popup" class="ui hidden stat popup">
            <p data-bind="text: $root.GetLastTimeGwAvgWasUpdated($root.EventStatus())"></p>
        </div>
        <div id="pytp-popup" class="ui hidden stat popup">
            <p>Players Yet To Play</p>
        </div>
        <div id="player-popup" class="ui modal">
            <i class="close icon"></i>
            <div class="header" data-bind="with: $root.SelectedPlayer()">
                <div data-bind="text: player.web_name"></div>
                <div data-bind="text: player.news"></div>
                <!-- <span data-bind="text: $root.SelectedGame().team_a_score"> -->
                <!-- <span data-bind="text: $root.SelectedGame().team_h_score + ' - ' + $root.SelectedGame().team_a_score"> -->
                @*<div class="ui grid">
                    <div class="six wide right aligned middle aligned column">
                        <h2 class="ui header" data-bind="text: HomeTeam.name"></h3>
                    </div>
                    <div class="four wide center aligned column">
                        <div class="ui large statistic">
                            <div class="value" data-bind="text: team_h_score + ' - ' + team_a_score"></div>
                        </div>
                    </div>
                    <div class="six wide middle aligned column">
                        <h2 class="ui header" data-bind="text: AwayTeam.name"></h3>
                    </div>
                </div>*@
            </div>
        </div>
        <div id="player-gw-breakdown-popup" class="ui modal" data-bind="with: $root.SelectedPlayer()">
            <i class="close icon"></i>
            <div class="header">
                <div data-bind="text: player.web_name + ' in GW' + $root.GameweekId()"></div>
            </div>
            <div class="content" data-bind="visible: GWGames[0].started">
                <div class="ui grid">
                    <div class="sixteen wide center aligned column">
                        <div class="row">
                            <div class="ui three small statistics" style="margin-bottom: 1rem;">
                                <div class="statistic">
                                    <div class="value" data-bind="text: GWPlayer.stats.gw_points"></div>
                                    <div class="label">
                                        GW Points
                                    </div>
                                </div>
                                @*<div class="statistic">
                                    <div class="value" data-bind="text: GWPlayer.stats.bps"></div>
                                    <div class="label">
                                        BPS
                                    </div>
                                </div>
                                <div class="statistic">
                                    <div class="value" data-bind="text: GWPlayer.stats.BpsRank"></div>
                                    <div class="label">
                                        Rank
                                    </div>
                                </div>*@
                                <div class="statistic" style="margin-top: 1em">
                                    <div class="text value">
                                        <span style="font-size: 2.5rem !important;" data-bind="text: GWPlayer.stats.bps"></span>
                                        <span data-bind="text: GWPlayer.stats.BpsRank"></span>
                                    </div>
                                    <div class="label">BPS (Rank)</div>
                                </div>
                            </div>
                        </div>
                        <div data-bind="foreach: { data: $root.SelectedPlayer().GWPlayer.explain, as: 'game' }">
                            <h3 class="ui center aligned header" data-bind="html: $root.GetFixtureScore($root.SelectedPlayer().GWGames, game.fixture)"></h3>
                            <table class="ui unstackable collapsing compact table" style="margin-right: auto; margin-left: auto;" @*data-bind="visible: game.stats.length > 1"*@>
                                <thead>
                                    <tr>
                                        <th>Statistic</th>
                                        <th class="center aligned">Value</th>
                                        <th class="center aligned">Points</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: { data: game.stats, as: 'stats' }">
                                    <tr>
                                        <td data-bind="text: stats.identifier"></td>
                                        <td class="center aligned" data-bind="text: stats.value"></td>
                                        <td class="center aligned" data-bind="text: stats.points"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content" data-bind="visible: !GWGames[0].started">
                <div data-bind="foreach: { data: $root.SelectedPlayer().GWGames, as: 'game' }" style="margin-top: 1rem;">
                    <h3 class="ui center aligned header" data-bind="html: $root.GetFixtureScore($root.SelectedPlayer().GWGames, game.id)"></h3>
                </div>
            </div>
        </div>
        <div id="points-last-updated-popup" class="ui hidden stat popup">
            <p data-bind="text: $root.LastUpdated()"></p>
        </div>
    </div>
</div>