@using Newtonsoft.Json;

@model FPL.ViewModels.FixturesViewModel

@{ var data = JsonConvert.SerializeObject(Model); }

@section PageScripts {
<script src="~/js/fixtures/index.js"></script>
<script type="text/javascript">
    const viewModel = new FixturesViewModel(@Html.Raw(data));
    ko.applyBindings(viewModel, document.getElementById("app"));
</script>
}

<div id="app">
    <table class="ui table">
        <thead>
            <th>Date</th>
            <th>Home Team</th>
            <th>Score</th>
            <th>Away team</th>
        </thead>
        <tbody data-bind="foreach: $root.Fixtures">
            <tr>
                <td data-bind="text: kickoff_time"></td>
                <td data-bind="text: HomeTeam.name"></td>
                <td>
                    <span data-bind="visible: started, text: team_h_score + ' - ' + team_a_score"></span>
                </td>
                <td data-bind="text: AwayTeam.name"></td>
            </tr>
        </tbody>
    </table>

</div>