@using Newtonsoft.Json;

@model FPL.ViewModels.FixturesViewModel

@{ var data = JsonConvert.SerializeObject(Model); }

@section PageScripts {
<script src="~/js/fixtures/index.js"></script>
<script type="text/javascript">
    const viewModel = new FixturesViewModel(@Html.Raw(data));
    ko.applyBindings(viewModel, document.getElementById("app"));
</script>
}

<div id="app">
    <!-- <h2 class="ui header">
        <span data-bind="text: $root.GameWeekName()"></span>
    </h2> -->
    <!-- <h4 class="ui header">
        <a data-bind="text: $root.CurrentGameweek().name"></a>
        <div class="sub header" data-bind="text: moment(Published_Date__c).format('MMMM D, YYYY')"></div>
    </h4> -->
    <!-- <h1 class="ui header">
        <span data-bind="text: Feature().Title__c"></span>
        <div class="ui label" data-bind="text: Feature().Type__c"></div>
    </h1> -->
    <button class="ui left attached button" data-bind="click: previous">Previous</button>
    <button class="ui right attached button" data-bind="click: next">Next</button>
    <table class="ui table">
        <thead>
            <th>Date</th>
            <th>Home Team</th>
            <th>Score</th>
            <th>Away team</th>
        </thead>
        <tbody data-bind="foreach: $root.Fixtures">
            <tr>
                <td data-bind="text: kickoff_time"></td>
                <td data-bind="text: HomeTeam.name"></td>
                <td>
                    <span data-bind="visible: started, text: team_h_score + ' - ' + team_a_score"></span>
                </td>
                <td data-bind="text: AwayTeam.name"></td>
            </tr>
        </tbody>
    </table>

</div>