@using Newtonsoft.Json;

@model FPL.ViewModels.FixturesViewModel

@{ var data = JsonConvert.SerializeObject(Model); }

@section PageScripts {
<script src="~/js/fixtures/index.js"></script>
<script type="text/javascript">
    const viewModel = new FixturesViewModel(@Html.Raw(data));
    ko.applyBindings(viewModel, document.getElementById("app"));
</script>
}

<div id="app">

    <!-- <h2 class="ui header">
        <span data-bind="text: $root.GameWeekName()"></span>
    </h2> -->
    <!-- <h4 class="ui header">
        <a data-bind="text: $root.CurrentGameweek().name"></a>
        <div class="sub header" data-bind="text: moment(Published_Date__c).format('MMMM D, YYYY')"></div>
    </h4> -->
    <!-- <h1 class="ui header">
        <span data-bind="text: Feature().Title__c"></span>
        <div class="ui label" data-bind="text: Feature().Type__c"></div>
    </h1> -->
    <button id="button-previous" class="ui left attached button" data-bind="click: previous">Previous</button>
    <button id="button-next" class="ui right attached button" data-bind="click: next">Next</button>
    <table class="ui unstackable table">
        <thead>
            <th>Date</th>
            <th></th>
            <th>Home Team</th>
            <th>Score</th>
            <th>Away team</th>
        </thead>
        <tbody data-bind="foreach: $root.Fixtures">
            <tr>
                <td data-bind="text: new Date(kickoff_time).toLocaleString()"></td>
                <td data-bind="visible: !started"></td>
                <td data-bind="visible: started && !is_half_time">
                    <div class="ui green right pointing label" data-bind="visible: !finished"> Live</div>
                    <span data-bind="text: minutes">FT</span>
                </td>
                <td data-bind="visible: is_half_time">
                    <div class="ui green right pointing label">Live</div>
                      <span>HT</span>
                </td>
                <td data-bind="text: HomeTeam.name, style: {'font-weight': did_team_h_win ? 'bold' : ''}"></td>
                <!-- <div data-bind="style: { color: currentProfit() < 0 ? 'red' : 'black', 'font-weight': isSevere() ? 'bold' : '' }">...</div> -->
                <td>
                    <a data-bind="click: $root.viewGame, visible: started, text: team_h_score + ' - ' + team_a_score"></a>
                </td>
                <td data-bind="text: AwayTeam.name, style: {'font-weight': did_team_a_win ? 'bold' : ''}"></td>
            </tr>
        </tbody>
    </table>

    <div class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            <!-- <span data-bind="text: $root.SelectedGame().team_a_score"> -->
            <!-- <span data-bind="text: $root.SelectedGame().team_h_score + ' - ' + $root.SelectedGame().team_a_score"> -->
        </div>
        <div class="image content">
            <table class="ui table">
                <thead data-bind="with: $root.Game()">
                    <th></th>
                    <th data-bind="text: HomeTeam.name"></th>
                    <th data-bind="text: AwayTeam.name"></th>
                </thead>
                <tbody data-bind="foreach: $root.GameStats">
                    <tr>
                        <td data-bind="text: identifier"></td>
                        <td data-bind="foreach: h">
                            <span data-bind="text: Player.web_name"></span> 
                            <span data-bind="text: value"></span>
                        </td>
                        <td data-bind="foreach: a">
                            <span data-bind="text: Player.web_name"></span> 
                            <span data-bind="text: value"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                Nope
            </div>
            <div class="ui positive right labeled icon button">
                Yep, that's me
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</div>