@using Newtonsoft.Json;

@model FPL.ViewModels.GameViewModel

@{ var data = JsonConvert.SerializeObject(Model); }

@section PageScripts {
    <script src="~/js/game/index.js"></script>
    <script type="text/javascript">
    const viewModel = new GameViewModel(@Html.Raw(data));
    ko.applyBindings(viewModel, document.getElementById("app"));
    </script>
}

<partial name="_PartialLoading" />
<div id="app" style="display: none;">
    Total Games: <p data-bind="text: TotalGameCount"></p>
    <p data-bind="using: Game">
        code: <span data-bind="text: code"> </span>
        Event: <span data-bind="text: Event"> </span>
        kickoff_time: <span data-bind="text: kickoff_time"> </span>
        team_h_name: <span data-bind="text: team_h_name"> </span>
        team_h_score: <span data-bind="text: team_h_score"> </span>
        team_a_score: <span data-bind="text: team_a_score"> </span>
        team_a_name: <span data-bind="text: team_a_name"> </span>
    </p>
    <div>
        <table class="ui table">
            <thead>
            <th></th>
            <th data-bind="text: $root.Game().HomeTeam.name"></th>
            <th data-bind="text: $root.Game().AwayTeam.name"></th>
            </thead>
            <tbody data-bind="foreach: GameStats">
                <tr>
                    <td data-bind="text: identifier"></td>
                    <td data-bind="foreach: h">
                        <span data-bind="text: Player.web_name"></span>
                        <span data-bind="text: value"></span>
                    </td>
                    <td data-bind="foreach: a">
                        <span data-bind="text: Player.web_name"></span>
                        <span data-bind="text: value"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <table class="ui table">
        <thead>
        <th>Date</th>
        <th>Home Team</th>
        <th>Score</th>
        <th>Away team</th>
        </thead>
        <tbody data-bind="foreach: $root.AllGames">
            <tr>
                <td data-bind="text: kickoff_time"></td>
                <td data-bind="text: HomeTeam.name"></td>
                <td>
                    <span data-bind="visible: started, text: team_h_score + ' - ' + team_a_score"></span>
                </td>
                <td data-bind="text: AwayTeam.name"></td>
            </tr>
        </tbody>
    </table>
</div>