@using Newtonsoft.Json;

@model FPL.ViewModels.HomeViewModel

@{ var data = JsonConvert.SerializeObject(Model); }

@section PageScripts {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/fc-3.3.1/datatables.min.js"></script>
    <script src="~/js/home/index.js"></script>
    <script type="text/javascript">
        const viewModel = new HomeViewModel(@Html.Raw(data));
        ko.applyBindings(viewModel, document.getElementById("app"));
    </script>
}

<partial name="_PartialLoading" />
<div id="app" style="display: none;">
    <div class="ui container">
        @*<h4 class="ui header">
                <a data-bind="text: $root.CurrentGameweek().name"></a>
            </h4>*@
        <div class="ui stackable grid">
            <div class="six wide center aligned column">
                <div class="row" style="margin-bottom: 0.5em;">
                    <div class="ui header">Fixtures and Results</div>
                </div>
                <div class="row" style="margin-bottom: 0.5em;">
                    <button class="ui icon mini left floated button" data-bind="click: $root.ShowPreviousFixtures">
                        <i class="arrow left icon"></i>
                    </button>
                    @*<span style="margin: 0 !important; font-size: 14px; font-weight:bold;">Fixtures and Results</span>*@
                    <span style="margin: 0 !important; font-size: 14px; font-weight:bold;" data-bind="text: 'GW ' + $root.CurrentGameweekForFixtureList()"></span>
                    <button class="ui icon mini right floated button" data-bind="click: $root.ShowNextFixtures">
                        <i class="arrow right icon"></i>
                    </button>
                </div>
                <table class="ui single line unstackable table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th></th>
                            <th class="center aligned">H</th>
                            <th></th>
                            <th class="center aligned">A</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: $root.GamesInFixtureList">
                        <tr>
                            @*<td data-bind="text: new Date(kickoff_time).toLocaleString()"></td>*@
                            <td data-bind="html: $root.GetFixtureDate($data, kickoff_time)"></td>
                            <td data-bind="visible: !started"></td>
                            <td class="center aligned" data-bind="visible: started">
                                @*<span data-bind="visible: !finished && !finished_provisional && !is_half_time, text: minutes"></span>*@
                                <span data-bind="visible: finished || finished_provisional && !is_half_time">FT</span>
                                @*<span data-bind="visible: is_half_time">HT</span>*@
                                <div data-bind="visible: !finished && !finished_provisional" class="ui green label">
                                    Live
                                </div>
                            </td>
                            <td class="center aligned" data-bind="text: HomeTeam.short_name, style: {'font-weight': did_team_h_win ? 'bold' : ''}"></td>
                            <td class="center aligned">
                                <a data-bind="click: $root.viewGame, visible: started, text: team_h_score + ' - ' + team_a_score"></a>
                                <span data-bind="visible: !finished_provisional && !started, text: 'vs'"></span>
                            </td>
                            <td class="center aligned" data-bind="text: AwayTeam.short_name, style: {'font-weight': did_team_a_win ? 'bold' : ''}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="ten wide center aligned column">
                <div class="row" style="margin-bottom: 0.5em;">
                    <div class="ui header">GW<span data-bind="text: $root.GameweekId()"></span> Players</div>
                </div>
                <table id="gw-player-table" class="ui unstackable table" width="100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            @*<th>Team</th>*@
                            @*<th class="position no-sort">Pos</th>*@
                            <th class="no-sort">Vs</th>
                            <th class="center aligned">Val</th>
                            <th class="center aligned">GW PC</th>
                            <th class="special-sort-1 center aligned">GW NT</th>
                            <th class="default-sort center aligned">TO (%)</th>
                            <th class="center aligned">Form</th>
                            <th class="center aligned">PPG</th>
                            <th class="center aligned">GW <span data-bind="text: $root.CurrentGameweek().id"></span></th>
                        </tr>
                    </thead>
                    <tbody class="single line" data-bind="foreach: $root.Players">
                        <tr>
                            <td>
                                <a @*data-bind="click: $root.viewPlayer"*@><span data-bind="text: player.web_name"></span></a>
                                <span data-bind="visible: stats.in_dreamteam"><i class="star icon"></i></span>
                                <i class="ui icon" data-bind="visible: $root.DoesPlayerHaveStatus(player.status), class: $root.GetPlayerStatusIcon(player.status)@*, click: $root.ShowStatusPopup(player.status)*@"></i>
                                <i class="yellow square icon" data-bind="visible: stats.yellow_cards > 0"></i>
                                <i class="red square icon" data-bind="visible: stats.red_cards > 0"></i>
                            </td>
                            @*<td>
                                    <span data-bind="text: team.short_name"></span>
                                </td>*@
                            @*<td>
                                    <span data-bind="text: $root.GetPosition(player.element_type)"></span>
                                </td>*@
                            <td>
                                <span data-bind="html: $root.GetOpposition($data)"></span>
                            </td>
                            <td class="center aligned">
                                <span data-bind="text: $root.FormatValue(player.now_cost)"></span>
                            </td>
                            <td class="center aligned">
                                <span data-bind="text: player.cost_change_event"></span>
                            </td>
                            <td class="center aligned">
                                <span data-bind="text: $root.GetGWNetTransfersRaw($data), visible: false"></span>
                                <span data-bind="text: $root.CreateGWNetTransfers($data)" @*data-order="value: $root.GetGWNetTransfersRaw($data)"*@></span>
                            </td>
                            <td class="center aligned">
                                <span data-bind="text: player.selected_by_percent"></span>
                            </td>
                            <td class="center aligned">
                                <span data-bind="text: player.form"></span>
                            </td>
                            <td class="center aligned">
                                <span data-bind="text: player.points_per_game"></span>
                            </td>
                            <td class="clickable-cell center aligned" data-bind="click: $root.viewPlayerGwBreakdown.bind($data)">
                                <a data-bind="text: stats.gw_points"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div id="player-gw-breakdown-popup" class="ui mini modal" data-bind="with: $root.SelectedPlayer()">
        <i class="close icon"></i>
        <h3 class="ui header">
            <div class="content">
                <span data-bind="text: player.web_name + ' in GW' + $root.CurrentGameweek().id"></span>
                @*<i class="copyright icon" data-bind="visible: is_captain"></i>*@
            </div>
        </h3>
        <div class="content" data-bind="visible: GWGames[0].started">
            <div class="ui grid">
                <div class="sixteen wide center aligned column">
                    <div class="row">
                        <div class="ui three small statistics" style="margin-bottom: 1rem;">
                            <div class="statistic">
                                <div class="value" data-bind="text: $root.GetPlayerGwPoints($data)"></div>
                                <div class="label">
                                    GW Points
                                </div>
                            </div>
                            <div class="statistic" style="margin-top: 1em">
                                <div class="text value">
                                    <span style="font-size: 2.5rem !important;" data-bind="text: stats.bps"></span>
                                    <span data-bind="text: stats.BpsRank"></span>
                                </div>
                                <div class="label">BPS (Rank)</div>
                            </div>
                        </div>
                    </div>
                    <div data-bind="foreach: { data: $root.SelectedPlayer().explain, as: 'game' }">
                        <h3 class="ui center aligned header" data-bind="html: $root.GetFixtureScore($root.SelectedPlayer().GWGames, game.fixture)"></h3>
                        <table class="ui unstackable collapsing compact table" style="margin-right: auto; margin-left: auto;" data-bind="visible: $root.IsGameStarted($root.SelectedPlayer().GWGames, game.fixture)">
                            <thead>
                                <tr>
                                    <th>Statistic</th>
                                    <th class="center aligned">Value</th>
                                    <th class="center aligned">Points</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: { data: game.stats, as: 'stats' }">
                                <tr>
                                    <td data-bind="text: stats.identifier"></td>
                                    <td class="center aligned" data-bind="text: stats.value"></td>
                                    <td class="center aligned" data-bind="text: stats.points"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="content" data-bind="visible: !GWGames[0].started">
            <div data-bind="foreach: { data: $root.SelectedPlayer().GWGames, as: 'game' }" style="margin-top: 1rem;">
                <h3 class="ui center aligned header" data-bind="html: $root.GetFixtureScore($root.SelectedPlayer().GWGames, game.id)"></h3>
            </div>
        </div>
    </div>
</div>

