@using Newtonsoft.Json;

@model FPL.ViewModels.FPL.LeaguesViewModel

@{ var data = JsonConvert.SerializeObject(Model); }

@section PageScripts {
    <script src="~/js/leagues/index.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.23/fh-3.1.7/datatables.min.css" />
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.23/fh-3.1.7/datatables.min.js"></script>
    <script type="text/javascript">
        const viewModel = new LeaguesViewModel(@Html.Raw(data));
        ko.applyBindings(viewModel, document.getElementById("app"));
    </script>
}

<div id="app">
    <div class="ui container">
        <div class="ui grid">
            @*<div class="four wide column">
                    <div class="ui vertical menu">
                        <div data-bind="foreach: $root.ClassicLeagues">
                            <a class="item" data-bind="text: name, class: $root.getLeagueClass($data), click: $root.changeLeague.bind($data)"></a>
                        </div>
                    </div>
                </div>*@
            <div class="sixteen wide column">
                <div class="row">
                    <select data-bind="options: $root.ClassicLeagues,
                                       optionsText: 'name',
                                       value: $root.SelectedLeague">
                    </select>
                </div>
                <div class="row">
                    <h3 class="ui top attached header" data-bind="text: $root.SelectedLeague().name"></h3>
                    <div id="standings-segment" class="ui attached segment" style="min-height:10rem;">
                        <table id="standings-table" class="ui unstackable table">
                            <thead>
                                <tr>
                                    <th class="no-sort" style="display:none"></th>
                                    <th class="no-sort"></th>
                                    <th>Rank</th>
                                    <th class="no-sort single line">Team & Manager</th>
                                    <th class="single line center aligned">GW<span data-bind="text: $root.CurrentGwId"></span></th>
                                    <th class="center aligned">Total</th>
                                    <th>Captain</th>
                                    <th class="center aligned" data-tooltip="Auto Subs">AS</th>
                                    <th class="center aligned" data-tooltip="Players Yet to Play">PYTP</th>
                                    <th data-tooltip="Active Chips">AC</th>
                                    <th class="center aligned" data-tooltip="GameWeek Transfers (Cost)">GWT (C)</th>
                                    <th class="center aligned" data-tooltip="Total Transfers (Cost)">TT (Cost)</th>
                                    <th data-tooltip="Used Chips (GameWeek)">UC (GW)</th>
                                    <th>Last 5</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: $root.SelectedLeagueStandings">
                                <tr data-bind="class: $root.GetRowClass(entry)">
                                    <td style="display:none" data-bind="text: entry"></td>
                                    <td class="details-control"></td>
                                    <td class="center aligned" data-bind="text: $root.GetRank($data)"></td>
                                    <td style="font-weight:bold" data-bind="html: $root.FormatNames(entry_name, player_name)"></td>
                                    <td class="center aligned" data-bind="text: event_total"></td>
                                    <td class="center aligned" data-bind="text: total"></td>
                                    <td class="single line" data-bind="text: $root.GetCaptain($data.GWTeam.picks)"></td>
                                    <td class="center aligned" data-bind="text: GWTeam.automatic_subs.length"></td>
                                    <td class="center aligned" data-bind="text: PlayersYetToPlay"></td>
                                    <td data-bind="html: $root.GetActiveChips($data.GWTeam.ActiveChips)"></td>
                                    <td class="center aligned" data-bind="text: GWTeam.EntryHistory.event_transfers + ' (' + GWTeam.EntryHistory.event_transfers_cost + ')'"></td>
                                    <td class="center aligned" data-bind="text: CompleteEntryHistory.TotalTransfersMade + ' (' + CompleteEntryHistory.TotalTransfersCost + ')'"></td>
                                    <td class="single line" data-bind="html: $root.GetChipsUsed($data.CompleteEntryHistory.chips)"></td>
                                    <td class="single line" data-bind="text: $root.FormatLast5GwPoints(Last5GwPoints)"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="standings-loader" class="ui inverted dimmer">
                            <div class="ui text large loader">
                                <h3 class="ui top attached header" data-bind="text: 'Loading ' + $root.SelectedLeague().Standings.results.length + ' fantasy teams from ' + $root.SelectedLeague().name"></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>