@using Newtonsoft.Json;

@model FPL.ViewModels.FPL.LeaguesViewModel

@{ var data = JsonConvert.SerializeObject(Model); }

@section PageScripts {
    <script src="~/js/leagues/index.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.23/fh-3.1.7/datatables.min.css" />
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.23/fh-3.1.7/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/fc-3.3.1/datatables.min.js"></script>

    <script type="text/javascript">
        const viewModel = new LeaguesViewModel(@Html.Raw(data));
        ko.applyBindings(viewModel, document.getElementById("app"));
    </script>
}

<partial name="_PartialLoading" />
<div id="app" style="display: none;">
    <div class="ui container">
        <!-- ko if: false -->
        <!--<div id="loader" class="ui inverted dimmer">
            <div class="ui large loader">
            </div>
        </div>-->
        <!-- /ko -->
        <div class="ui grid main-grid hide">
            <div class="sixteen wide column">
                <div class="row">
                    <h3 class="ui top attached header">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <select id="league-dropdown" class="ui header scrolling dropdown" style="font-size: 1em!important; padding: 0.3em!important; margin-bottom: 0 !important;" data-bind="options: $root.ClassicLeagues,
                                       optionsText: 'name',
                                       value: $root.SelectedLeague">
                            </select>
                            <div id="league-search-2" class="ui action input" style="display: none; height:38px !important;">
                                <input type="text" placeholder="Enter League ID" data-bind="textInput: $root.SearchedLeagueId" style="max-width: 175px !important">
                                <button id="league-search-button" class="ui button" data-bind="click: $root.SearchLeagues">
                                    Search
                                </button>
                            </div>
                        }
                        else
                        {
                            <div id="league-search" class="ui action input">
                                <input type="text" placeholder="Enter League ID" data-bind="textInput: $root.SearchedLeagueId">
                                <button id="league-search-button" class="ui button" data-bind="click: $root.SearchLeagues">Search</button>
                            </div>
                        }
                    </h3>
                    @if (Model.CurrentGwId != 0)
                    {
                        <div id="standings-segment" class="ui attached segment" style="min-height:30rem;">
                            <div id="desktop-standings-last-updated" class="ui top right attached label" style="font-size: 0.9rem !important" data-bind="visible: IsGameLive">
                                <i class="sync link icon" data-bind="click: $root.reload, visible: IsGameLive"></i>
                                <span data-bind="text: LastUpdated()@*, hidden: IsGameLive*@"></span>
                            </div>
                            <div id="mobile-standings-last-updated" class="ui top right attached label" data-bind="visible: IsGameLive">
                                <i class="sync link icon" data-bind="click: $root.reload, visible: IsGameLive"></i>
                                <i class="clock outline icon" data-bind="hidden: IsGameLive"></i>
                            </div>
                            <div id="standings-loader" class="ui inverted dimmer">
                                <div class="ui text large loader">
                                    <h3 class="ui top attached header" data-bind="text: $root.GetSelectedLeagueStandingsLoaderText()"></h3>
                                </div>
                            </div>
                            <div class="ui inverted dimmer searched-loader">
                                <div class="ui text large loader">
                                    <h3 class="ui top attached header" data-bind="text: $root.GetSearchedLeagueStandingsLoaderText()"></h3>
                                </div>
                            </div>
                            <div data-bind="hidden: $root.HideLeagueUI">
                                <div class="ui attached tabular menu">
                                    <a class="item active" data-tab="first">
                                        Standings
                                        <span class="ui green left pointing label" data-bind="visible: IsGameLive">Live</span>
                                    </a>
                                    <a class="item" data-tab="second">Tallies</a>
                                    <a class="item" data-tab="third">Third</a>
                                </div>
                                <div class="ui bottom attached tab segment active" data-tab="first">
                                        <table id="standings-table" class="ui unstackable table" style="width: 100%; border-collapse: collapse">
                                            <thead>
                                                <tr class="single line">
                                                    <th class="no-sort" style="display:none"></th>
                                                    <th class="no-sort hide-on-mobile"></th>
                                                    <th class="default-sort">Rank</th>
                                                    <th class="no-sort single line">Team & Manager</th>
                                                    <th class="center aligned">Total</th>
                                                    <th class="single line center aligned">GW<span data-bind="text: $root.CurrentGwId"></span></th>
                                                    <th id="th-bonus-points" class="center aligned hide-on-mobile" data-tooltip="Gameweek Bonus Points">BP</th>
                                                    <th class="center aligned hide-on-mobile" data-tooltip="Points on Bench">POB</th>
                                                    <th>Captain</th>
                                                    <th class="center aligned hide-on-mobile" data-tooltip="Auto Subs">AS</th>
                                                    <th class="center aligned" data-tooltip="Players Yet to Play">PYTP</th>
                                                    <th class="center aligned" data-tooltip="Points From First">PFF</th>
                                                    <th class="center aligned" data-tooltip="Active Chips">AC</th>
                                                    <th class="center aligned hide-on-mobile" data-tooltip="GameWeek Transfers (Cost)">GWT (C)</th>
                                                    <th class="center aligned hide-on-mobile" data-tooltip="Total Transfers (Cost)">TT (C)</th>
                                                    <th class="hide-on-mobile" data-tooltip="Used Chips (GameWeek)">UC (GW)</th>
                                                    <th class="hide-on-mobile" data-bind="visible: $root.CurrentGwId > 1">Last <span data-bind="text: $root.CurrentGwId() < 6 ? $root.CurrentGwId() - 1 : 5"></span></th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="foreach: $root.SelectedLeagueStandings">
                                                <tr class="single line" data-bind="class: $root.GetRowClass(entry)">
                                                    <td style="display:none" data-bind="text: entry"></td>
                                                    <td class="details-control hide-on-mobile"></td>
                                                    <td class="single line center aligned">
                                                        <i data-bind="class: $root.GetPointsMovement($data)"></i>
                                                        <span data-bind="text: $root.GetRank($data)"></span>
                                                    </td>
                                                    <td style="font-weight:bold" data-bind="html: $root.FormatNames($data)"></td>
                                                    <td class="center aligned" data-bind="text: total"></td>
                                                    <td class="center aligned" data-bind="text: event_total"></td>
                                                    <td class="center aligned hide-on-mobile" data-bind="text: $root.GetTeamBonusPoints($data.GWTeam.picks)"></td>
                                                    <td class="center aligned hide-on-mobile" data-bind="text: $root.GetGWBenchPoints($data.GWTeam.picks)"></td>
                                                    <td class="single line" data-bind="text: $root.GetCaptain($data.GWTeam.picks)"></td>
                                                    <td class="center aligned hide-on-mobile" data-bind="text: GWTeam.automatic_subs.length"></td>
                                                    <td class="center aligned" data-bind="text: GWTeam.PlayersYetToPlay"></td>
                                                    <td class="center aligned" data-bind="text: PointsFromFirst"></td>
                                                    <td class="center aligned" data-bind="html: $root.GetActiveChips($data.GWTeam.ActiveChips)"></td>
                                                    <td class="center aligned hide-on-mobile" data-bind="text: $root.GetGwTransfers($data.GWTeam)"></td>
                                                    <td class="center aligned hide-on-mobile" data-bind="text: CompleteEntryHistory.TotalTransfersMade + ' (' + CompleteEntryHistory.TotalTransfersCost + ')'"></td>
                                                    <td class="single line hide-on-mobile" data-bind="html: $root.GetChipsUsed($data.CompleteEntryHistory.chips)"></td>
                                                    <td class="single line hide-on-mobile" data-bind="text: $root.FormatLast5GwPoints(Last5GwPoints), visible: $root.CurrentGwId > 1"></td>
                                                </tr>
                                            </tbody>
                                            <tfoot style="border-top: 1px solid black;" data-bind="visible: $root.SelectedLeagueStandings().length > 10@*, hidden: $root.UserTeam().entry == 0*@">
                                                <tr class="active" data-bind="with: $root.UserTeam() ? $root.UserTeam() : null">
                                                    <td style="display:none" data-bind="text: entry"></td>
                                                    <td class="details-control hide-on-mobile"></td>
                                                    <td class="single line center aligned">
                                                        <i data-bind="class: $root.GetPointsMovement($data)"></i>
                                                        <span data-bind="text: $root.GetRank($data)"></span>
                                                    </td>
                                                    <td style="font-weight:bold" data-bind="html: $root.FormatNames($data)"></td>
                                                    <td class="center aligned" data-bind="text: total"></td>
                                                    <td class="center aligned" data-bind="text: event_total"></td>
                                                    <td class="center aligned hide-on-mobile" data-bind="text: $root.GetTeamBonusPoints($data.GWTeam.picks)"></td>
                                                    <td class="center aligned hide-on-mobile" data-bind="text: $root.GetGWBenchPoints($data.GWTeam.picks)"></td>
                                                    <td class="single line" data-bind="text: $root.GetCaptain($data.GWTeam.picks)"></td>
                                                    <td class="center aligned hide-on-mobile" data-bind="text: GWTeam.automatic_subs.length"></td>
                                                    <td class="center aligned" data-bind="text: GWTeam.PlayersYetToPlay"></td>
                                                    <td class="center aligned" data-bind="text: PointsFromFirst"></td>
                                                    <td class="center aligned" data-bind="html: $root.GetActiveChips($data.GWTeam.ActiveChips)"></td>
                                                    <td class="center aligned hide-on-mobile" data-bind="text: $root.GetGwTransfers($data.GWTeam)"></td>
                                                    <td class="center aligned hide-on-mobile" data-bind="text: CompleteEntryHistory.TotalTransfersMade + ' (' + CompleteEntryHistory.TotalTransfersCost + ')'"></td>
                                                    <td class="single line hide-on-mobile" data-bind="html: $root.GetChipsUsed($data.CompleteEntryHistory.chips)"></td>
                                                    <td class="single line hide-on-mobile" data-bind="text: $root.FormatLast5GwPoints(Last5GwPoints), visible: $root.CurrentGwId > 1"></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                </div>
                                <div class="ui bottom attached tab segment" data-tab="second">
                                    <div class="ui grid">
                                        @*<div style="width: 100%; overflow-x: auto;">*@
                                        <table id="player-tally-table" class="ui unstackable table" style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th>Player</th>
                                                    <th>Position</th>
                                                    <th>Team</th>
                                                    <th class="center aligned">Starting %</th>
                                                    <th class="center aligned">Bench %</th>
                                                    <th class="center aligned">Captain %</th>
                                                    <th class="center aligned">Transferred In %</th>
                                                    <th class="center aligned">Transferred Out %</th>
                                                    <th class="default-sort center aligned">GW Points</th>
                                                    <th class="no-sort"></th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="foreach: $root.SelectedLeaguePlayersTally">
                                                <tr>
                                                    <td data-bind="text: Pick.player.web_name"></td>
                                                    <td data-bind="text: $root.GetPosition(Pick.player.element_type)"></td>
                                                    <td data-bind="text: Pick.player.Team.name"></td>
                                                    <td class="clickable-cell center aligned" data-bind="text: StartingSelection, click: $root.FireStartingSelectionModal.bind($data)"></td>
                                                    <td class="clickable-cell center aligned" data-bind="text: BenchSelection, click: $root.FireBenchSelectionModal.bind($data)"></td>
                                                    <td class="clickable-cell center aligned" data-bind="text: CaptainSelection, click: $root.FireCaptainSelectionModal.bind($data)"></td>
                                                    <td class="clickable-cell center aligned" data-bind="text: TransferredIn, click: $root.FireTransferredInSelectionModal.bind($data)"></td>
                                                    <td class="clickable-cell center aligned" data-bind="text: TransferredOut, click: $root.FireTransferredOutSelectionModal.bind($data)"></td>
                                                    <td class="clickable-cell center aligned" data-bind="text: $root.GetPlayerTallyGwPoints($data), click: $root.viewPlayerGwBreakdown.bind($data)"></td>
                                                    <td><i class="green check circle icon" data-bind="visible: $root.IsAllGwGamesFinished(Pick.GWGames)"></i></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        @*</div>*@
                                    </div>
                                </div>
                                <div class="ui bottom attached tab segment" data-tab="third">
                                    Third
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div id="entries-segment" class="ui attached segment" style="min-height:30rem;">
                            <div class="ui attached tabular menu">
                                <a class="item active" data-tab="first">
                                    Entries
                                </a>
                            </div>
                            <div class="ui bottom attached tab segment active" data-tab="first">
                                <div id="entries-loader" class="ui inverted dimmer">
                                    <div class="ui text large loader">
                                        <h3 class="ui top attached header" data-bind="text: $root.GetSelectedLeagueStandingsLoaderText($root)"></h3>
                                    </div>
                                </div>
                                <div class="ui inverted dimmer searched-loader">
                                    <div class="ui text large loader">
                                        <h3 class="ui top attached header" data-bind="text: $root.GetSearchedLeagueStandingsLoaderText($root)"></h3>
                                    </div>
                                </div>
                                <table id="entries-table" class="ui unstackable table" style="width: 100%;">
                                    <thead>
                                        <tr class="single line">
                                            <th class="no-sort" style="display:none"></th>
                                            <th class="no-sort single line">Team & Manager</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: $root.SelectedLeagueStandings">
                                        <tr class="single line" data-bind="class: $root.GetRowClass(entry)">
                                            <td style="display:none" data-bind="text: entry"></td>
                                            <td style="font-weight:bold" data-bind="html: $root.FormatNames($data)"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="ui small starting-selection modal">
        <div class="header" data-bind="with: $root.SelectedPlayerFromTally()">
            <span data-bind="text: $root.SelectedLeague().name + ' managers who are starting ' + Pick.player.web_name + ' in GW' + $root.CurrentGwId()"></span>
        </div>
        <div class="content">
            <div class="ui horizontal list" data-bind="foreach: $root.ManagersAffiliatedWithSelectedPlayerFromTally">
                <div class="item clickable-cell manager-list-item" data-bind="click: $root.ViewTeam.bind($data)">
                    <div class="content" data-bind="text: player_name + ' (' + rank + ')'"></div>
                </div>
            </div>
        </div>
        <div class="actions" style="text-align: left; font-weight:bold; font-size:1.1rem; padding-left:1.25rem;">
            <p data-bind="text: 'Total: ' + $root.ManagersAffiliatedWithSelectedPlayerFromTally().length + '/' + $root.SelectedLeagueStandings().length"></p>
        </div>
    </div>
    <div class="ui small bench-selection modal">
        <div class="header" data-bind="with: $root.SelectedPlayerFromTally()">
            <span data-bind="text: $root.SelectedLeague().name + ' managers who are benching ' + Pick.player.web_name + ' in GW' + $root.CurrentGwId()"></span>
        </div>
        <div class="content">
            <div class="ui horizontal list" data-bind="foreach: $root.ManagersAffiliatedWithSelectedPlayerFromTally">
                <div class="item clickable-cell manager-list-item" data-bind="click: $root.ViewTeam.bind($data)">
                    <div class="content" data-bind="text: player_name + ' (' + rank + ')'"></div>
                </div>
            </div>
        </div>
        <div class="actions" style="text-align: left; font-weight:bold; font-size:1.1rem; padding-left:1.25rem;">
            <p data-bind="text: 'Total: ' + $root.ManagersAffiliatedWithSelectedPlayerFromTally().length + '/' + $root.SelectedLeagueStandings().length"></p>
        </div>
    </div>
    <div class="ui small captain-selection modal">
        <div class="header" data-bind="with: $root.SelectedPlayerFromTally()">
            <span data-bind="text: $root.SelectedLeague().name + ' managers who are captaining ' + Pick.player.web_name + ' in GW' + $root.CurrentGwId()"></span>
        </div>
        <div class="content">
            <div class="ui horizontal list" data-bind="foreach: $root.ManagersAffiliatedWithSelectedPlayerFromTally">
                <div class="item clickable-cell manager-list-item" data-bind="click: $root.ViewTeam.bind($data)">
                    <div class="content" data-bind="text: player_name + ' (' + rank + ')'"></div>
                </div>
            </div>
        </div>
        <div class="actions" style="text-align: left; font-weight:bold; font-size:1.1rem; padding-left:1.25rem;">
            <p data-bind="text: 'Total: ' + $root.ManagersAffiliatedWithSelectedPlayerFromTally().length + '/' + $root.SelectedLeagueStandings().length"></p>
        </div>
    </div>
    <div class="ui small transferred-in-selection modal">
        <div class="header" data-bind="with: $root.SelectedPlayerFromTally()">
            <span data-bind="text: $root.SelectedLeague().name + ' managers who have transferred in ' + Pick.player.web_name + ' in GW' + $root.CurrentGwId()"></span>
        </div>
        <div class="content">
            <div class="ui horizontal list" data-bind="foreach: $root.ManagersAffiliatedWithSelectedPlayerFromTally">
                <div class="item clickable-cell manager-list-item" data-bind="click: $root.ViewTeam.bind($data)">
                    <div class="content" data-bind="text: player_name + ' (' + rank + ')'"></div>
                </div>
            </div>
        </div>
        <div class="actions" style="text-align: left; font-weight:bold; font-size:1.1rem; padding-left:1.25rem;">
            <p data-bind="text: 'Total: ' + $root.ManagersAffiliatedWithSelectedPlayerFromTally().length + '/' + $root.SelectedLeagueStandings().length"></p>
        </div>
    </div>
    <div class="ui small transferred-out-selection modal">
        <div class="header" data-bind="with: $root.SelectedPlayerFromTally()">
            <span data-bind="text: $root.SelectedLeague().name + ' managers who have transferred out ' + Pick.player.web_name + ' in GW' + $root.CurrentGwId()"></span>
        </div>
        <div class="content">
            <div class="ui horizontal list" data-bind="foreach: $root.ManagersAffiliatedWithSelectedPlayerFromTally">
                <div class="item clickable-cell manager-list-item" data-bind="click: $root.ViewTeam.bind($data)">
                    <div class="content" data-bind="text: player_name + ' (' + rank + ')'"></div>
                </div>
            </div>
        </div>
        <div class="actions" style="text-align: left; font-weight:bold; font-size:1.1rem; padding-left:1.25rem;">
            <p data-bind="text: 'Total: ' + $root.ManagersAffiliatedWithSelectedPlayerFromTally().length + '/' + $root.SelectedLeagueStandings().length"></p>
        </div>
    </div>
    <div id="standings-last-updated-popup" class="ui hidden stat popup">
        <p data-bind="text: $root.LastUpdated()"></p>
    </div>
    <div id="player-gw-breakdown-popup" class="ui mini modal" data-bind="with: $root.SelectedPlayer()">
        <i class="close icon"></i>
        <h3 class="ui header">
            <div class="content">
                <span data-bind="text: player.web_name + ' in GW' + $root.CurrentGwId()"></span>
                @*<i class="copyright icon" data-bind="visible: is_captain"></i>*@
            </div>
        </h3>
        <div class="content" data-bind="visible: GWGames[0].started">
            <div class="ui grid">
                <div class="sixteen wide center aligned column">
                    <div class="row">
                        <div class="ui three small statistics" style="margin-bottom: 1rem;">
                            <div class="statistic">
                                <div class="value" data-bind="text: $root.GetPlayerGwPoints($data)"></div>
                                <div class="label">
                                    GW Points
                                </div>
                            </div>
                            <div class="statistic" style="margin-top: 1em">
                                <div class="text value">
                                    <span style="font-size: 2.5rem !important;" data-bind="text: GWPlayer.stats.bps"></span>
                                    <span data-bind="text: GWPlayer.stats.BpsRank"></span>
                                </div>
                                <div class="label">BPS (Rank)</div>
                            </div>
                        </div>
                    </div>
                    <div data-bind="foreach: { data: $root.SelectedPlayer().GWPlayer.explain, as: 'game' }">
                        <h3 class="ui center aligned header" data-bind="html: $root.GetFixtureScore($root.SelectedPlayer().GWGames, game.fixture)"></h3>
                        <table class="ui unstackable collapsing compact table" style="margin-right: auto; margin-left: auto;" data-bind="visible: $root.IsGameStarted($root.SelectedPlayer().GWGames, game.fixture)">
                            <thead>
                                <tr>
                                    <th>Statistic</th>
                                    <th class="center aligned">Value</th>
                                    <th class="center aligned">Points</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: { data: game.stats, as: 'stats' }">
                                <tr>
                                    <td data-bind="text: stats.identifier"></td>
                                    <td class="center aligned" data-bind="text: stats.value"></td>
                                    <td class="center aligned" data-bind="text: stats.points"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="content" data-bind="visible: !GWGames[0].started">
            <div data-bind="foreach: { data: $root.SelectedPlayer().GWGames, as: 'game' }" style="margin-top: 1rem;">
                <h3 class="ui center aligned header" data-bind="html: $root.GetFixtureScore($root.SelectedPlayer().GWGames, game.id)"></h3>
            </div>
        </div>
    </div>
</div>