@using Newtonsoft.Json;

@model FPL.ViewModels.FPL.LeaguesViewModel

@{ var data = JsonConvert.SerializeObject(Model); }

@section PageScripts {
    <script src="~/js/leagues/index.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.23/fh-3.1.7/datatables.min.css" />
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.23/fh-3.1.7/datatables.min.js"></script>
    <script type="text/javascript">
        const viewModel = new LeaguesViewModel(@Html.Raw(data));
        ko.applyBindings(viewModel, document.getElementById("app"));
    </script>
}

<div id="app">
    <div class="ui container">
        <div class="ui grid">
            @*<div class="four wide column">
                    <div class="ui vertical menu">
                        <div data-bind="foreach: $root.ClassicLeagues">
                            <a class="item" data-bind="text: name, class: $root.getLeagueClass($data), click: $root.changeLeague.bind($data)"></a>
                        </div>
                    </div>
                </div>*@
            <div class="sixteen wide column">
                <div class="row">
                    <select data-bind="options: $root.ClassicLeagues,
                                       optionsText: 'name',
                                       value: $root.SelectedLeague">
                    </select>
                </div>
                <div class="row">
                    <h3 class="ui top attached header">
                        <span data-bind="text: $root.SelectedLeague().name"></span>
                    </h3>
                    <div id="standings-segment" class="ui attached segment" style="min-height:10rem;">
                        @*<div class="ui top right attached label" data-bind="visible: IsGameLive">Live</div>*@
                        <div class="ui top right attached label" style="font-size: 0.9rem !important" data-bind="hidden: IsGameLive, text: $root.LastUpdated()"></div>
                        <div id="standings-loader" class="ui inverted dimmer">
                            <div class="ui text large loader">
                                <h3 class="ui top attached header" data-bind="text: 'Loading ' + $root.SelectedLeague().Standings.results.length + ' fantasy teams from ' + $root.SelectedLeague().name"></h3>
                            </div>
                        </div>
                        <div class="ui attached tabular menu">
                            <a class="item active" data-tab="first">
                                Standings
                                <span class="ui green left pointing label" data-bind="visible: IsGameLive">Live</span>
                            </a>
                            <a class="item" data-tab="second">Tallies</a>
                            <a class="item" data-tab="third">Third</a>
                        </div>
                        <div class="ui bottom attached tab segment active" data-tab="first">
                            @*<div id="standings-segment" class="ui attached segment" style="min-height:10rem;">*@
                            <table id="standings-table" class="ui unstackable table">
                                <thead>
                                    <tr class="single line">
                                        <th class="no-sort" style="display:none"></th>
                                        <th class="no-sort"></th>
                                        <th class="default-sort">Rank</th>
                                        <th class="no-sort single line">Team & Manager</th>
                                        <th class="center aligned">Total</th>
                                        <th class="single line center aligned">GW<span data-bind="text: $root.CurrentGwId"></span></th>
                                        <th class="center aligned" data-tooltip="Gameweek Bonus Points">BP</th>
                                        <th class="center aligned" data-tooltip="Points on Bench">POB</th>
                                        <th>Captain</th>
                                        <th class="center aligned" data-tooltip="Auto Subs">AS</th>
                                        <th class="center aligned" data-tooltip="Players Yet to Play">PYTP</th>
                                        <th class="center aligned" data-tooltip="Points From First">PFF</th>
                                        <th data-tooltip="Active Chips">AC</th>
                                        <th class="center aligned" data-tooltip="GameWeek Transfers (Cost)">GWT (C)</th>
                                        <th class="center aligned" data-tooltip="Total Transfers (Cost)">TT (C)</th>
                                        <th data-tooltip="Used Chips (GameWeek)">UC (GW)</th>
                                        <th>Last 5</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: $root.SelectedLeagueStandings">
                                    <tr class="single line" data-bind="class: $root.GetRowClass(entry)">
                                        <td style="display:none" data-bind="text: entry"></td>
                                        <td class="details-control"></td>
                                        <td class="single line center aligned">
                                            <i data-bind="class: $root.GetPointsMovement($data)"></i>
                                            <span data-bind="text: $root.GetRank($data)"></span>
                                        </td>
                                        <td style="font-weight:bold" data-bind="html: $root.FormatNames(entry_name, player_name)"></td>
                                        <td class="center aligned" data-bind="text: total"></td>
                                        <td class="center aligned" data-bind="text: event_total"></td>
                                        <td class="center aligned" data-bind="text: $root.GetTeamBonusPoints($data.GWTeam.picks)"></td>
                                        <td class="center aligned" data-bind="text: $root.GetGWBenchPoints($data.GWTeam.picks)"></td>
                                        <td class="single line" data-bind="text: $root.GetCaptain($data.GWTeam.picks)"></td>
                                        <td class="center aligned" data-bind="text: GWTeam.automatic_subs.length"></td>
                                        <td class="center aligned" data-bind="text: PlayersYetToPlay"></td>
                                        <td class="center aligned" data-bind="text: PointsFromFirst"></td>
                                        <td data-bind="html: $root.GetActiveChips($data.GWTeam.ActiveChips)"></td>
                                        <td class="center aligned" data-bind="text: $root.GetGwTransfers($data.GWTeam)"></td>
                                        <td class="center aligned" data-bind="text: CompleteEntryHistory.TotalTransfersMade + ' (' + CompleteEntryHistory.TotalTransfersCost + ')'"></td>
                                        <td class="single line" data-bind="html: $root.GetChipsUsed($data.CompleteEntryHistory.chips)"></td>
                                        <td class="single line" data-bind="text: $root.FormatLast5GwPoints(Last5GwPoints)"></td>
                                    </tr>
                                </tbody>
                                <tfoot data-bind="visible: $root.SelectedLeagueStandings().length > 10">
                                    <tr class="active" data-bind="with: $root.UserTeam">
                                        <td style="display:none" data-bind="text: entry"></td>
                                        <td class="details-control"></td>
                                        <td class="single line center aligned">
                                            <i data-bind="class: $root.GetPointsMovement($data)"></i>
                                            <span data-bind="text: $root.GetRank($data)"></span>
                                        </td>
                                        <td style="font-weight:bold" data-bind="html: $root.FormatNames(entry_name, player_name)"></td>
                                        <td class="center aligned" data-bind="text: total"></td>
                                        <td class="center aligned" data-bind="text: event_total"></td>
                                        <td class="center aligned" data-bind="text: $root.GetTeamBonusPoints($data.GWTeam.picks)"></td>
                                        <td class="center aligned" data-bind="text: $root.GetGWBenchPoints($data.GWTeam.picks)"></td>
                                        <td class="single line" data-bind="text: $root.GetCaptain($data.GWTeam.picks)"></td>
                                        <td class="center aligned" data-bind="text: GWTeam.automatic_subs.length"></td>
                                        <td class="center aligned" data-bind="text: PlayersYetToPlay"></td>
                                        <td class="center aligned" data-bind="text: PointsFromFirst"></td>
                                        <td data-bind="html: $root.GetActiveChips($data.GWTeam.ActiveChips)"></td>
                                        <td class="center aligned" data-bind="text: $root.GetGwTransfers($data.GWTeam)"></td>
                                        <td class="center aligned" data-bind="text: CompleteEntryHistory.TotalTransfersMade + ' (' + CompleteEntryHistory.TotalTransfersCost + ')'"></td>
                                        <td class="single line" data-bind="html: $root.GetChipsUsed($data.CompleteEntryHistory.chips)"></td>
                                        <td class="single line" data-bind="text: $root.FormatLast5GwPoints(Last5GwPoints)"></td>
                                    </tr>
                                </tfoot>
                            </table>
                            @*</div>*@
                        </div>
                        <div class="ui bottom attached tab segment" data-tab="second">
                            <div class="ui grid">
                                @*<div class="column">
                                    <div class="tally-table-container">
                                        <table id="captain-tally-table" class="ui unstackable uncollapsing sticky-header table">
                                            <thead>
                                                <tr>
                                                    <th>Captain</th>
                                                    <th class="center aligned">Count</th>
                                                    <th class="center aligned">Selection %</th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="foreach: $root.SelectedLeagueCaptainTally">
                                                <tr>
                                                    <td data-bind="text: Name"></td>
                                                    <td class="center aligned" data-bind="text: Count"></td>
                                                    <td class="center aligned" data-bind="text: Ownership"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>*@
                                <div class="column">
                                    <div class="tally-table-container">
                                        <table id="player-tally-table" class="ui unstackable uncollapsing sticky-header table">
                                            <thead>
                                                <tr>
                                                    <th>Player</th>
                                                    <th class="center aligned">Count</th>
                                                    <th class="center aligned">Ownership %</th>
                                                    <th class="center aligned">Starting Ownership %</th>
                                                    <th class="center aligned">Captain Selection %</th>
                                                    <th class="center aligned">GW Points</th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="foreach: $root.SelectedLeaguePlayersTally">
                                                <tr>
                                                    <td data-bind="text: Pick.player.web_name"></td>
                                                    <td class="center aligned" data-bind="text: Count"></td>
                                                    <td class="center aligned" data-bind="text: Ownership"></td>
                                                    <td class="center aligned" data-bind="text: StartingOwnership"></td>
                                                    <td class="center aligned" data-bind="text: CaptainSelection"></td>
                                                    <td class="center aligned" data-bind="text: Pick.player.event_points"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui bottom attached tab segment" data-tab="third">
                            Third
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>