/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

#app {
	padding-top: 1rem;
}

#desktop-header {
	background-color: #F0A848;
	height: 9rem;
	padding-bottom: 35px;
}

	#desktop-header > div > .item {
		margin-right: 1rem;
	}

		#desktop-header > div > .item:hover {
			border-bottom-style: solid;
			border-color: #1B1C1D;
		}

/*	#desktop-header > div > .active.item {
		border-color: white !important;
	}*/

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
	position: fixed !important;
	bottom: 0;
	width: 100%;
	white-space: nowrap;
	line-height: 40px; /* Vertically center the text there */
	padding: 0 !important;
	/*margin-top: 20px !important;*/
	text-align: right;
}

#player-tally-table_wrapper > div.DTFC_ScrollWrapper > div.DTFC_LeftWrapper > div.DTFC_LeftHeadWrapper > table {
	border-bottom: none !important;
}

td.details-control {
	background: url('../img/open-row-icon.png') no-repeat center center;
	cursor: pointer;
}

	td.details-control.loading {
		background: url('../img/loading-icon.gif') no-repeat center center !important;
		background-size: contain !important;
	}

tr.shown td.details-control {
	background: url('../img/close-row-icon.png') no-repeat center center;
}

/*body {
	margin: 0 auto;
	background: #34495e;
	font-family: "Open Sans", sans-serif;
	cursor: default;
}

header {
	width: 100%;
	color: #eee;
	border-bottom: 1px solid #eee;
	font-size: 32px;
	padding: 20px 70px;
}

main {
	padding: 40px 50px;
}

.pitch {
	background: #26A65B;
	width: 355px;
	height: 250px;
	border-radius: 5px;
	margin: 0 16px;
	display: inline-block;
}

.pitch h4 {
	position: absolute;
	color: #eee;
	text-align: center;
	margin: -40px 153px;
}

.pitch .container {
	width: 350px;
	height: 450px;
	border: 2px solid #eee;
}

.pitch .half {
	margin: 217px 0 0 -2px;
	width: 350px;
	border: 1px solid #eee;
}

.pitch .half:before {
	position: absolute;
	margin: -63px 115px;
	width: 120px;
	height: 120px;
	border-radius: 60px;
	border: 2px solid #eee;
	content: "";
}

.pitch .box1 {
	position: absolute;
	margin: -2px 114px;
	width: 120px;
	height: 60px;
	border: 2px solid #eee;
}

.pitch .pen1 {
	position: absolute;
	margin: -2px 21px;
	width: 75px;
	height: 35px;
	border: 2px solid #eee;
}

.pitch .box2 {
	position: absolute;
	margin: 169px 114px;
	width: 120px;
	height: 60px;
	border: 2px solid #eee;
}

.pitch .pen2 {
	position: absolute;
	margin: 23px 21px;
	width: 75px;
	height: 35px;
	border: 2px solid #eee;
}

.pos {
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background: #BDC3C7;
	color: #34495e;
	text-align: center;
	line-height: 40px;
	font-size: 24px;
	font-weight: 100;
	transition: .3s linear all;
	z-index: 1;
}

.pos:hover {
	color: #BDC3C7;
	background: #34495e;
}

p {
	width: 355px;
	height: 455px;
	background: rgba(0, 0, 0, .6);
	margin: 13px 16px;
	border-radius: 5px;
	padding: 20px;
	display: inline-block;
}

p:after {
	content: '';
	position: absolute;
	top: 87%;
	margin: 0 0 0 160px;
	width: 0;
	height: 0;
	opacity: 0.6;
	border-bottom: solid 10px #000;
	border-left: solid 20px transparent;
	border-right: solid 20px transparent;
}*/
div.dt-buttons {
	clear: both;
}

.hover {
	background-color: #B0BED9 !important;
}

.result-label {
	color: white;
	/*padding-left: 0.2rem;*/
	/*padding-right: 0.2rem;*/
	font-weight: bold;
	border-radius: 3px;
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	margin-left: 0.3rem;
	margin-bottom: 0.1rem;
}

.team-name {
	color: black !important;
}

	.team-name:hover {
		text-decoration: underline;
	}

.manager-name {
	font-size: small;
	font-weight: normal;
}

.blinker {
	animation: blinker 2s linear infinite;
	font-weight: bold;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

.ui.icon.header i.icons .corner.icon {
	font-size: 1em !important;
}

.ui.horizontal.list .list > .item, .ui.horizontal.list > .item {
	padding-right: 0.3rem;
	padding-left: 0.3rem;
	min-width: 3rem;
	max-width: 6rem;
}

.clickable-cell {
	cursor: pointer;
}

    .clickable-cell:hover {
		text-decoration: underline;
    }

#points-statistics-row > .statistic {
	margin-right: 1em !important;
	margin-left: 1em !important;
}

.stat.popup {
	margin-right: 1em !important;
	margin-left: 1em !important;
}

/*.ui.three.statistics .statistic {
	margin-top: 0.3em !important;
}*/

.ui.tiny.statistics > .statistic:not(:first-child) {
	margin-right: 0.8rem;
	margin-left: 0.8rem;
}

/*#player-tally-table {
	display: table;
	overflow-x: auto;
	white-space: nowrap;
}*/

#player-tally-table_wrapper {
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

#gw-player-table-desktop_wrapper {
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.ui.modal {
	overflow-y: auto;
}

.ui.vertical.menu .active.item {
    font-weight: bold;
}

#loading {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	opacity: 0.7;
	background-color: #fff;
	z-index: 99;
	text-align: center;
}

#loading-image {
	position: absolute;
	top: 100px;
	left: 240px;
	z-index: 100;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
	#mobile-header {
		display: grid;
	}

	#desktop-header {
		display: none;
	}

	#mobile-points-header-grid {
		display: block;
	}

	#desktop-points-header-grid {
		display: none;
	}

	#mobile-points-table {
		display: table;
	}

	#desktop-points-table {
		display: none;
	}

	#desktop-standings-last-updated {
		display: none;
	}

	#mobile-standings-last-updated {
		display: normal;
		width: 2rem;
		padding-right: 1.5rem;
	}

	#desktop-points-last-updated {
		display: none;
	}

	#mobile-points-last-updated {
		display: block;
		width: 2rem;
		padding-right: 1.5rem;
	}

	.hide-on-mobile {
		display: none;
	}

	.manager-list-item {
		min-width: 11rem !important;
		padding-left: 0 !important;
		margin-left: 0 !important;
		font-size: 1rem !important;
	}

	#gw-player-table_filter > label > input[type=search], #standings-table_filter > label > input[type=search], #player-tally-table_filter > label > input[type=search] {
		width: 80px !important;
	}

	#gw-player-table-heading-mobile {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	#gw-player-table_filter, #standings-table_filter, #player-tally-table_filter {
		margin-top: 0 !important;
	}

	#gw-player-table_length {
		float: left;
	}

	#gw-player-table > tbody > tr > td.dtfc-fixed-left {
		background-color: rgba(255, 255, 255, 1);
	}
}

@media screen and (min-width: 992px) {
	#mobile-header {
		display: none;
	}

	#desktop-header {
		display: flex;
	}

	#mobile-points-header-grid {
		display: none;
	}

	#desktop-points-header-grid {
		display: block;
	}

	#mobile-points-table {
		display: none;
	}

	#desktop-points-table {
		display: table;
	}

	#desktop-standings-last-updated {
		display: normal;
	}

	#mobile-standings-last-updated {
		display: none;
	}

	#desktop-points-last-updated {
		display: normal;
	}

	#mobile-points-last-updated {
		display: none;
	}

	.hide-on-mobile {
		display: normal;
	}

	.manager-list-item {
		min-width: 12rem !important;
		padding-left: 0 !important;
		margin-left: 0 !important;
	}

	#gw-player-table_filter > label > input[type=search] {
		width: 120px !important;
	}

	#gw-player-table_length {
		margin-bottom: 0.5em;
	}
}

.DTFC_LeftHeadWrapper {
	border-right-color: rgba(34, 36, 38, 0.15) !important;
	border-right-style: solid !important;
	border-right-width: 1px !important;
}

.DTFC_LeftBodyWrapper {
	border-right-color: rgba(34, 36, 38, 0.15) !important;
	border-right-style: solid !important;
	border-right-width: 1px !important;
}

.DTFC_LeftBodyLiner {
	overflow: hidden;
}

.DTFC_LeftBodyLiner {
	overflow-y: auto !important;
}

table.dataTable.no-footer {
	border-bottom-color: rgba(34, 36, 38, 0.15);
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

#allPlayersTable_wrapper > div.DTFC_ScrollWrapper > div.DTFC_LeftWrapper > div.DTFC_LeftHeadWrapper > table {
	margin-bottom: 1px;
}

.padding-bottom-zero{
	padding-bottom: 0!important;
}

.p-b-0-4 {
	padding-bottom: 0.4em !important;
}

.padding-top-zero {
	padding-top: 0 !important;
}

/*#allPlayersTable_wrapper > div.DTFC_ScrollWrapper > div.DTFC_LeftWrapper > div.DTFC_LeftBodyWrapper > div > table {
	border: none;
}

#allPlayersTable_wrapper > div.DTFC_ScrollWrapper > div.DTFC_LeftWrapper > div.DTFC_LeftHeadWrapper > table {
	border-bottom: none;
}*/

/*.tally-table-container {
	max-height: 30rem;
	overflow-y: scroll;
	overflow: auto;

}

.ui.table.sticky-header thead tr:first-child > th {
	position: sticky !important;
	top: 0;
	z-index: 2;
}
*/