@using Newtonsoft.Json;

@model FPL.ViewModels.FPL.MyTeamViewModel

@{ var data = JsonConvert.SerializeObject(Model); }

@section PageScripts {
    <script src="~/js/myteam/index.js"></script>
    <script type="text/javascript">
    const viewModel = new MyTeamViewModel(@Html.Raw(data));
    ko.applyBindings(viewModel, document.getElementById("app"));
    </script>
}

<div id="app">
    <div class="ui container">
        <h3 class="ui header" data-bind="with: $root.Team()">
            <span data-bind="text: name"></span>
        </h3>
        <h4 class="ui header">
            Total Points: <span data-bind="text: $root.TotalPoints()"></span>
        </h4>
        <h4 class="ui header">
            Team Value: <span data-bind="text: $root.ConvertToDecimal($root.TransferInfo().value)"></span>
        </h4>
        <h4 class="ui header">
            Bank: <span data-bind="text: $root.ConvertToDecimal($root.TransferInfo().bank)"></span>
        </h4>
        <table id="table" class="ui collapsing selectable table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Pos</th>
                    <th>Val (Potential Profit)</th>
                    @*<th>Pts</th>
                        <th>Pts for Team</th>*@
                    <th>GWs on Team</th>
                    <th>PPGW on Team</th>
                    <th>PPG Prev 30 days</th>
                    <th>% Mins Played</th>
                    <th><i class="star icon"></i></th>
                    <th>FPL Index</th>
                    <th>FPL Rank</th>
                    <th>FPL Position Rank</th>
                    @*<th>ICT</th>
                        <th>ICT Rank</th>
                        <th>Pos ICT Rank</th>
                        <th>BPS</th>
                        <th>Bps Rank</th>
                        <th>Pos Bps Rank</th>*@
                    <th>% Selected by</th>
                    <th>GW Net Transfers</th>
                    <th>Next Game</th>
                    <th>Avg FDR Next 5</th>
                    @*<th>Form</th>
                        <th>Points achieved</th>
                        <th>Next Game</th>*@
                </tr>
            </thead>
            <tbody class="single line" data-bind="foreach: $root.Picks">
                <tr data-bind="style: { 'background-color': $root.getColor($data.position) }">
                    <td>
                        <span data-bind="text: player.web_name"></span>
                        <span data-bind="visible: is_captain"><i class="copyright icon"></i></span>
                        <span data-bind="visible: player.in_dreamteam"><i class="star icon"></i></span>
                        <i class="ui icon" data-bind="visible: $root.DoesPlayerHaveStatus(player.status), class: $root.GetPlayerStatusIcon(player.status)"></i>
                    </td>
                    <td>
                        <span data-bind="text: player.Team.short_name"></span>
                    </td>
                    <td>
                        <span data-bind="text: $root.GetPosition(player.element_type)"></span>
                    </td>
                    <td>
                        <span data-bind="text: $root.FormatValue(player.now_cost, NetProfitOnTransfer)"></span>
                    </td>
                    @*<td>
                            <span data-bind="text: player.total_points"></span>
                        </td>
                        <td>
                            <span data-bind="text: TotalPointsAccumulatedForTeam"></span>
                        </td>*@
                    <td>
                        <span data-bind="text: GWOnTeam"></span>
                    </td>
                    <td>
                        <span data-bind="text: PPGOnTeam.toFixed(1)"></span>
                    </td>
                    <td>
                        <span data-bind="text: player.form"></span>
                    </td>
                    <td>
                        <span data-bind="text: player.MinsPlayedPercentage"></span>
                    </td>
                    <td>
                        <span data-bind="text: player.dreamteam_count"></span>
                    </td>
                    <td>
                        <span data-bind="text: player.FplIndex"></span>
                    </td>
                    <td>
                        <span data-bind="text: player.FplRank"></span>
                    </td>
                    <td>
                        <span data-bind="text: player.FplPositionRank"></span>
                    </td>
                    @*<td>
                            <span data-bind="text: player.ict_index"></span>
                        </td>
                        <td>
                            <span data-bind="text: $root.FormatOverallRank(player.ict_index_rank)"></span>
                        </td>
                        <td>
                            <span data-bind="text: $root.FormatPositionRankType(player.element_type, player.ict_index_rank_type)"></span>
                        </td>
                        <td>
                            <span data-bind="text: player.bps"></span>
                        </td>
                        <td>
                            <span data-bind="text: $root.FormatOverallRank(player.BpsRank)"></span>
                        </td>
                        <td>
                            <span data-bind="text: $root.FormatPositionRankType(player.element_type, player.BpsPositionRank)"></span>
                        </td>*@
                    <td>
                        <span data-bind="text: player.selected_by_percent"></span>
                    </td>
                    <td>
                        <span data-bind="text: $root.CreateGWNetTransfers(player)"></span>
                    </td>
                    <td>
                        <span data-bind="text: $root.GetPlayersNextFixture(player.Team)"></span>
                    </td>
                    <td>
                        <span data-bind="text: $root.CalculateFixtureDifficulty(player.Team, player.Fixtures)"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        @*<div class="pitch">
                <div>
                    <div class="box1">
                        <div class="pen1">
                            <div class="pos" style="margin: 5px 17px;">1</div>
                        </div>
                    </div>
                    <div class="pos" style="margin: 65px 75px">2</div>

                    <div class="pos" style="margin: 65px 157px;">3</div>
                    <div class="pos" style="margin: 65px 230px">4</div>

                    <div class="pos" style="margin: 125px 53px">5</div>
                    <div class="pos" style="margin: 125px 126px">6</div>
                    <div class="pos" style="margin: 125px 186px">7</div>
                    <div class="pos" style="margin: 125px 258px">8</div>

                    <div class="pos" style="margin: 190px 75px;">9</div>
                    <div class="pos" style="margin: 190px 230px;">10</div>

                    <div class="pos" style="margin: 190px 157px;">11</div>
                </div>
            </div>*@
    </div>
</div>